<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ym.dao.mapper.UserMapper">
    <resultMap id="resultmap" type="com.example.ym.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
    </resultMap>

    <select id="findall" resultMap="resultmap">
        SELECT * FROM `user` where name like "%"#{str}"%"
    </select>

    <insert id="addUser" parameterType="com.example.ym.pojo.User">
        insert into `user` (name , age) values (#{name} , #{age})
    </insert>

    <delete id="deleteUser" parameterType="com.example.ym.pojo.User" flushCache="true" statementType="PREPARED" timeout="20">
        DELETE from `user` where id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.example.ym.pojo.User">
        UPDATE `user`
        <set>
            <if test="name!= null">name = #{name},</if>
            <if test="age != null">age = #{age}</if>
        </set>
        where id = #{id}
    </update>
</mapper>